
    /* Reset default browser styles */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    /* Styles for the header */
    header {
      background-color: #bcc4f1;
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    header nav {
      margin-top: 10px;
    }

    header nav ul {
      list-style: none;
    }

    header nav ul li {
      display: inline-block;
      margin-right: 10px;
    }

    header nav ul li a {
      text-decoration: none;
      color: #fff;
      padding: 5px 10px;
      border-radius: 3px;
      transition: background-color 0.3s;
    }

    header nav ul li a:hover {
      background-color:  #bcc4f1;
    }

    /* Styles for the main content */
    .content {
      max-width: 960px;
      margin: 0 auto;
      padding: 40px 20px;
    }

    h1 {
      font-size: 30px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      margin-bottom: 20px;
    }

    /* Styles for the footer */
    footer {
      background-color:  #bcc4f1;
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    footer p {
      font-size: 14px;
    }
