
   
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
    }

    header {
      background: #bcc4f1;
      padding: 1px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 2px 5px rgba(50, 43, 82, 0.2);
      padding-left: 400px;
      text-shadow: 2px 2px 4px rgba(15, 10, 30, 0.3);
      font-size: 18px;
    }

    #logo{
      width: 70px;
      padding-left: 5px;
      margin-left: -300px;
      border-radius: 50%;
      
    }
    nav ul {
      list-style: none;
      display: flex;
      gap: 20px;
    }
    
    nav ul li {
      position: relative;
    }
    
    nav ul li a {
      text-decoration: none;
      color : white;
      font-weight: bold;
      padding: 10px 15px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }
    
    nav ul li a:before {
      content: "";
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      width: 40px;
      height: 40px;
   
      background-size: contain;
    }
    .col2{
          margin-top: -300px;
          margin-bottom: 300px;
          margin-left: 40px;
    }
    
  
    
    nav ul li a:hover {
      background-color: #b7a1e4;
      color:white;
    }
    
    nav ul li:hover a:before {
      transform: translate(-50%, -50%) scale(1.2);
    }

    .fillimi{
      min-height: 100vh;
      background: url(images/background\ .jpg)no-repeat center;
      background-size: cover;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .snow, .snow2{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(images/snow\ 2png.png);
      background-position: 0 0;
    }
    .snow{
      background-size: 70em;
      animation: snowfall 30s linear infinite;
    }
    .snow2{
      background-size: 50em;
      animation: snowfall2 30s linear infinite;
      opacity: 0.5;
    }
    .text{
      color: #fff;
      text-align: center;
    }
    .text h1{
      font-family: 'Pushster',cursive;
      font-size: 4em;
      text-shadow: 5px 5px 10px #111;
    }
    .text p{
      color: #ff4e58;
      font-weight: bold;
    }
    @keyframes snowfall{
      100%{
        background-position: 70em 70em;
      }
    }

    @keyframes snowfall2{
      100%{
        background-position: 50em 0;
      }
    }
    
  .slider {
    width: 40%;
    height: 80%;
    margin-left: 51%;
    margin-top: 100px;
    padding-bottom: -20px;
    position: relative;
    box-shadow: 0 2px 40px rgba(60, 60, 100, 20);
    
  }
  .slider > .slide {
    width: 100%;
    height: 100%;
    display: none;
  }
  .slider > .slide img {
    width: 100%;
    height: 100%;
  }
  .slide.active {
    display: block;
  }
  #one{
      width: 550px;
      height: 300px;
  }
  #two{
    width: 550px;
      height: 300px;

  }
  #three{
    width: 550px;
      height: 300px;

  }
  .buttons {
    width: 113.7%;
    height: 20%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
  }
  .buttons button {
    width: 5%;
    height: 70%;
    background: rgba(69, 38, 128, 0.5);
    opacity: 1;
    color: white;
    font-family: "Courier New";
  }

  .photos {
    display: flex;
    justify-content: center;
    width: 500px; /* Adjust the size of each photo container */
    margin-right: 5px; /* Adjust the spacing between photos */
    margin-left: 15px;
    margin-top: -200px;   
  }
  
  .photo:last-child {
    margin-right: 0; /* Remove right margin from the last photo */
  }
  
  .photos img {
    width: 100%;
    height: auto;
    display: block;
  }
  #photo1{
    width: 950px;
    margin-left: 20px;
  }
  #photo2{
    width: 950px;
    margin-left: 20px;
   
  }
  #photo3{
    width: 950px;
    margin-left: 20px;
  }
 
  

    



    @media (max-width: 600px) {
      /* CSS rules for smaller screens */
    }

    /* CSS for screens between 601px and 900px */
@media (min-width: 601px) and (max-width: 900px) {
  /* CSS rules for medium screens */
}

/* CSS for screens larger than 901px */
@media (min-width: 901px) {
  /* CSS rules for larger screens */
}

/*css slider*/

.slidervideo {
  width: 70%; 
  margin: 0 auto;

}

.slides {
  display: flex;
  overflow: hidden;
}

.slides video {
  width: 100%;
  height: auto;
}

.controls {
  margin-top: 10px;
}



button.prev, button.next {
  background-color: #eaeaea;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button.prev:hover, button.next:hover {
  background-color: #333;
  color: #fff;
}

.controls button {
  background-color: #eaeaea;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.controls button:hover {
  background-color: #333;
  color: #fff;
}
