body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .register-container {
    max-width: 300px;
    margin: 0 auto;
    margin-left: 850px;
    margin-top: 200px;
    margin-bottom: -500px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    background-color: rgba(191, 183, 242, 0.8);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: rgba(191, 183, 242, 0.8);
  }
  